<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/karbantarto?useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</property>
        <mapping class="hu.otemplom.karbantarto.model.Work" />
        <mapping class="hu.otemplom.karbantarto.model.User" />
        <mapping class="hu.otemplom.karbantarto.model.Area" />
        <mapping class="hu.otemplom.karbantarto.model.Role" />
    </session-factory>
</hibernate-configuration>